# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output files
data/output.json
data/output.csv

# Logs
logs/*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS specific
Thumbs.db
.DS_Store

# Go specific
vendor/
go.sum
